{% extends "../../fragments/base.html" %}
{% block title %} ResKeeperPy Login {% endblock title %}
{% block content %}

    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="card w-50">
            <div class="card-body">
                <div class="card-title d-flex justify-content-center">
                    <div>
                        <h2>Resource keeper Py</h2>
                    </div>
                </div>
                <div class="card-subtitle d-flex justify-content-center">
                    <h4>
                     Регистрация в приложении
                    </h4>
                </div>
                <div class="card-text">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-floating mb-3">
                                <input name="email" type="email" class="form-control" id="emailInput"
                                       placeholder="Email">
                                <label for="emailInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control" id="passwordInput"
                                       placeholder="Пароль">
                                <label for="passwordInput">Пароль</label>
                            </div>
                            <div class="form-floating">
                                <input name="password" type="password" class="form-control" id="repeatPassword"
                                       placeholder="Повторите пароль">
                                <label for="repeatPassword">Повторите пароль</label>
                            </div>
                            <div class="col d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-success end-0">Зарегистрироваться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}